In [18]:
import pandas as pd
import numpy as np 
import random
import datetime
import radar

## This notebook is used to create a list of transactions spanning 482 days for an individual.  An effort is made to create transaction types and keep them in reasonable ranges as it pertains to dollar amount and time of day this type of transaction may occur.  These transactions will be used in a 'checkbook app' which will allow a customer to create a new transaction and also gather information on previous transactions.

## Note: This user is paying their regular bills with some other card/account.  This user doesn't have direct deposit or routine deposits.

## We will start with functions for each transaction type.  The function will take an integer to be used to create that number of transactions.  In each function, we are hardcoding ranges for dollar amounts and times of day for transactions.

In [139]:
def create_deposit(count):
    count = list(range(1, count))
    transaction_type = []
    transaction_type_desc = []
    costs = []
    dates = []
    times = []
    for num in count:
        transaction_type.append(1)
        transaction_type_desc.append('Deposit')
        costs.append(round(random.uniform(20.00, 1025.00),2))
        dates.append(str(radar.random_date(start=datetime.datetime(year=2019, month=1, day=1), stop=datetime.datetime(year=2020, month=3, day=13))).split(' ')[0])
        times.append(str(radar.random_time(start='2020-01-01T17:15:00', stop='2020-01-01T17:54:59')))
    return pd.DataFrame(list(zip(transaction_type, transaction_type_desc, costs, dates, times)), columns=['transaction_type', 'transaction_type_desc', 'transaction_amount', 'date', 'time'])

In [156]:
deposits = create_deposit(67)

In [157]:
def create_withdrawl(count):
    count = list(range(1, count))
    transaction_type = []
    transaction_type_desc = []
    costs = []
    dates = []
    times = []
    for num in count:
        transaction_type.append(2)
        transaction_type_desc.append('ATM Withdrawal')
        costs.append((random.randint(1,20))*20)
        dates.append(str(radar.random_date(start=datetime.datetime(year=2019, month=1, day=1), stop=datetime.datetime(year=2020, month=3, day=13))).split(' ')[0])
        times.append(str(radar.random_time(start='2020-01-01T17:07:00', stop='2020-01-01T23:39:59')))
    return pd.DataFrame(list(zip(transaction_type, transaction_type_desc, costs, dates, times)), columns=['transaction_type', 'transaction_type_desc', 'transaction_amount', 'date', 'time'])

In [158]:
withdrawls = create_withdrawl(89)

In [159]:
withdrawls.head()

,transaction_type,transaction_type_desc,transaction_amount,date,time
0,2,ATM Withdrawal,160,2019-03-18,17:28:08
1,2,ATM Withdrawal,340,2019-04-16,23:12:57
2,2,ATM Withdrawal,160,2019-01-13,18:53:21
3,2,ATM Withdrawal,100,2019-12-22,18:12:30
4,2,ATM Withdrawal,40,2019-02-10,17:18:17

In [160]:
def create_lunch(count):
    count = list(range(1, count))
    transaction_type = []
    transaction_type_desc = []
    costs = []
    dates = []
    times = []
    for num in count:
        transaction_type.append(3)
        transaction_type_desc.append('Lunch')
        costs.append(round(random.uniform(-12.50, -5.00),2))
        dates.append(str(radar.random_date(start=datetime.datetime(year=2019, month=1, day=1), stop=datetime.datetime(year=2020, month=3, day=13))).split(' ')[0])
        times.append(str(radar.random_time(start='2020-01-01T11:25:00', stop='2020-01-01T13:39:59')))
    return pd.DataFrame(list(zip(transaction_type, transaction_type_desc, costs, dates, times)), columns=['transaction_type', 'transaction_type_desc', 'transaction_amount', 'date', 'time'])

In [161]:
lunch_costs = create_lunch(133)

In [162]:
def create_dinner(count):
    count = list(range(1, count))
    transaction_type = []
    transaction_type_desc = []
    costs = []
    dates = []
    times = []
    for num in count:
        transaction_type.append(4)
        transaction_type_desc.append('Dinner')
        costs.append(round(random.uniform(-22.50, -14.50),2))
        dates.append(str(radar.random_date(start=datetime.datetime(year=2019, month=1, day=1), stop=datetime.datetime(year=2020, month=3, day=13))).split(' ')[0])
        times.append(str(radar.random_time(start='2020-01-01T19:05:00', stop='2020-01-01T21:59:59')))
    return pd.DataFrame(list(zip(transaction_type, transaction_type_desc, costs, dates, times)), columns=['transaction_type', 'transaction_type_desc', 'transaction_amount', 'date', 'time'])

In [163]:
dinner_costs = create_dinner(96)

In [164]:
def create_groceries(count):
    count = list(range(1, count))
    transaction_type = []
    transaction_type_desc = []
    costs = []
    dates = []
    times = []
    for num in count:
        transaction_type.append(5)
        transaction_type_desc.append('Groceries')
        costs.append(round(random.uniform(-125.50, -55.00),2))
        dates.append(str(radar.random_date(start=datetime.datetime(year=2019, month=1, day=1), stop=datetime.datetime(year=2020, month=3, day=13))).split(' ')[0])
        times.append(str(radar.random_time(start='2020-01-01T17:35:00', stop='2020-01-01T20:33:59')))
    return pd.DataFrame(list(zip(transaction_type, transaction_type_desc, costs, dates, times)), columns=['transaction_type', 'transaction_type_desc', 'transaction_amount', 'date', 'time'])

In [165]:
groceries_costs = create_groceries(82)

In [166]:
def create_gas(count):
    count = list(range(1, count))
    transaction_type = []
    transaction_type_desc = []
    costs = []
    dates = []
    times = []
    for num in count:
        transaction_type.append(6)
        transaction_type_desc.append('Gas')
        costs.append(round(random.uniform(-27.50, -14.00),2))
        dates.append(str(radar.random_date(start=datetime.datetime(year=2019, month=1, day=1), stop=datetime.datetime(year=2020, month=3, day=13))).split(' ')[0])
        times.append(str(radar.random_time(start='2020-01-01T17:35:00', stop='2020-01-01T20:33:59')))
    return pd.DataFrame(list(zip(transaction_type, transaction_type_desc, costs, dates, times)), columns=['transaction_type', 'transaction_type_desc', 'transaction_amount', 'date', 'time'])

In [167]:
gas_costs = create_gas(94)

## This is a good stopping point.  Our user will need more categories for types of transactions.

In [169]:
final_df = pd.concat([deposits,withdrawls,lunch_costs,dinner_costs,groceries_costs,gas_costs], ignore_index=True).sort_values(by=['date','time']).reset_index(drop=True)
final_df.sample(5).sort_values(by=['date','time'])

,transaction_type,transaction_type_desc,transaction_amount,date,time
27,2,ATM Withdrawal,80.00,2019-01-29,19:25:52
104,6,Gas,-24.99,2019-03-26,19:03:55
310,4,Dinner,-19.00,2019-09-01,19:05:50
359,3,Lunch,-7.19,2019-10-03,13:26:07
431,5,Groceries,-111.42,2019-11-25,18:27:40

In [170]:
final_df.shape[0]

555

In [171]:
final_df[['transaction_amount']].agg(['min', 'mean', 'max', 'sum'])

      transaction_amount
min          -124.960000
mean           74.531495
max          1009.510000
sum         41364.980000