In [18]:
import pandas as pd
import numpy as np 
import random
import datetime
import radar

## This notebook is used to create a list of transactions spanning 482 days for an individual.  An effort is made to create transaction types and keep them in reasonable ranges as it pertains to dollar amount and time of day this type of transaction may occur.  These transactions will be used in a 'checkbook app' which will allow a customer to create a new transaction and also gather information on previous transactions.

## Note: This user is paying their regular bills with some other card/account.  This user doesn't have direct deposit or routine deposits.

## We will start with functions for each transaction type.  The function will take an integer to be used to create

In [80]:
def create_lunch(count):
    count = list(range(1, count))
    transaction_type = []
    transaction_type_desc = []
    costs = []
    dates = []
    times = []
    for num in count:
        transaction_type.append(2)
        transaction_type_desc.append('Lunch')
        costs.append(round(random.uniform(-12.50, -5.00),2))
        dates.append(str(radar.random_date(start=datetime.datetime(year=2019, month=1, day=1), stop=datetime.datetime(year=2020, month=3, day=13))).split(' ')[0])
        times.append(str(radar.random_time(start='2020-01-01T11:25:00', stop='2020-01-01T13:39:59')))
    return pd.DataFrame(list(zip(transaction_type, transaction_type_desc, costs, dates, times)), columns=['transaction_type', 'transaction_type_desc', 'transaction_amount', 'date', 'time'])

In [81]:
lunch_costs = create_lunch(133)

In [82]:
lunch_costs.head()

,transaction_type,transaction_type_desc,transaction_amount,date,time
0,2,Lunch,-6.79,2019-07-29,13:20:58
1,2,Lunch,-5.86,2019-06-12,12:10:04
2,2,Lunch,-10.08,2019-09-03,12:15:53
3,2,Lunch,-6.65,2019-12-05,11:52:55
4,2,Lunch,-10.83,2019-02-16,12:12:13

In [83]:
def create_dinner(count):
    count = list(range(1, count))
    transaction_type = []
    transaction_type_desc = []
    costs = []
    dates = []
    times = []
    for num in count:
        transaction_type.append(3)
        transaction_type_desc.append('Dinner')
        costs.append(round(random.uniform(-22.50, -14.50),2))
        dates.append(str(radar.random_date(start=datetime.datetime(year=2019, month=1, day=1), stop=datetime.datetime(year=2020, month=3, day=13))).split(' ')[0])
        times.append(str(radar.random_time(start='2020-01-01T19:05:00', stop='2020-01-01T21:59:59')))
    return pd.DataFrame(list(zip(transaction_type, transaction_type_desc, costs, dates, times)), columns=['transaction_type', 'transaction_type_desc', 'transaction_amount', 'date', 'time'])

In [ ]:
dinner_costs = create_dinner(96)

In [61]:
def create_groceries(count):
    count = list(range(1, count))
    transaction_type = []
    costs = []
    dates = []
    for num in count:
        transaction_type.append(3)
        costs.append(round(random.uniform(-125.50, -55.00),2))
        dates.append(str(radar.random_date(start=datetime.datetime(year=2019, month=1, day=1), stop=datetime.datetime(year=2020, month=3, day=13))).split(' ')[0])
    return pd.DataFrame(list(zip(transaction_type ,costs, dates)), columns=['transaction_type','transaction_amount', 'date'])

In [62]:
groceries_costs = create_groceries(82)

In [63]:
def create_gas(count):
    count = list(range(1, count))
    transaction_type = []
    costs = []
    dates = []
    for num in count:
        transaction_type.append(3)
        costs.append(round(random.uniform(-27.50, -13.00),2))
        dates.append(str(radar.random_date(start=datetime.datetime(year=2019, month=1, day=1), stop=datetime.datetime(year=2020, month=3, day=13))).split(' ')[0])
    return pd.DataFrame(list(zip(transaction_type ,costs, dates)), columns=['transaction_type','transaction_amount', 'date'])

In [64]:
gas_costs = create_gas(94)

In [ ]:
def create_(count):
    count = list(range(1, count))
    transaction_type = []
    costs = []
    dates = []
    for num in count:
        transaction_type.append(4)
        costs.append(round(random.uniform(-27.50, -13.00),2))
        dates.append(str(radar.random_date(start=datetime.datetime(year=2019, month=1, day=1), stop=datetime.datetime(year=2020, month=3, day=13))).split(' ')[0])
    return pd.DataFrame(list(zip(transaction_type ,costs, dates)), columns=['transaction_type','transaction_amount', 'date'])