In [1]:
import pandas as pd
import numpy as np 
import random
import datetime
import radar

In [2]:
df_orig = pd.read_csv('checkbook.csv')
df = df_orig.copy()
df.head()

,transaction_type,transaction_type_desc,transaction_amount,date,time
0,3,Lunch,-5.34,2016-01-01,11:40:47
1,5,Groceries,-55.93,2016-01-01,18:18:52
2,4,Dinner,-16.90,2016-01-02,19:10:45
3,4,Dinner,-16.88,2016-01-02,19:53:51
4,5,Groceries,-114.85,2016-01-03,17:42:01

In [13]:
def current_balance():
    balance = '{:,.2f}'.format(df.transaction_amount.sum())
    print('Your current balance is $' + balance + '.')

In [14]:
current_balance()

Your current balance is $5,564.12.

## We'll get to the list below and may change the functions.

In [3]:
# print('~~~ Welcome to your terminal checkbook! ~~~')
# while True:
#     print('What would you like to do?')
#     print('1) View current balance')
#     print('2) Record a debit (withdraw)')
#     print('3) Record a credit (deposit)')
#     print('4) View transactions within a range of dates')
#     print('5) View all transactions')
#     print('6) View all transactions in a category')
#     print('7) Exit')
    
#     choice_input = input('Your choice? ')