In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from datetime import date

When squirrels get together for a party, they like to have cigars. A squirrel party is successful when the number of cigars is between 40 and 60, inclusive. Unless it is the weekend, in which case there is no upper bound on the number of cigars. Return True if the party with the given values is successful, or False otherwise.

In [2]:
def cigar_party(cigars, is_weekend):
  if is_weekend & (cigars >= 40):
    return True
  elif (is_weekend == False) & (40 <= cigars <= 60):
    return True
  else:
    return False

In [3]:
print(cigar_party(30, False))
print(cigar_party(70, True))
print(cigar_party(40, True))

False
True
True

You and your date are trying to get a table at a restaurant. The parameter "you" is the stylishness of your clothes, in the range 0..10, and "date" is the stylishness of your date's clothes. The result getting the table is encoded as an int value with 0=no, 1=maybe, 2=yes. If either of you is very stylish, 8 or more, then the result is 2 (yes). With the exception that if either of you has style of 2 or less, then the result is 0 (no). Otherwise the result is 1 (maybe).

Thoughts:

For this, it's important to note that since there is an exception on the first statement of either being 8 or more, that this be reflected in the logic.  Since there are no exceptions on the rule of either party being equal to or less than 2 resulting in a 0, this will be put in first.

In [4]:
def date_fashion(you, date):
  if (you <= 2) | (date <= 2):
    return 0
  elif (you >=8) | ( date >= 8):
    return 2
  else:
    return 1

In [5]:
print(date_fashion(5, 10))
print(date_fashion(5, 5))
print(date_fashion(10, 2))

2
1
0

Given a string of even length, return the first half. So the string "WooHoo" yields "Woo".

The assumption for this problem is that each string entered will have a length divisible by 2.

In [6]:
def first_half(str):
    half = int(len(str)/2)
    return str[:half]

print(first_half('WooHoo'))
print(first_half('abcdef'))
print(first_half('0123456789'))

Given a string, return a version without the first and last char, so "Hello" yields "ell". The string length will be at least 2.

In [7]:
def without_end(str):
  return str[1:-1]

In [8]:
print(without_end('Hello'))
print(without_end('coding'))
print(without_end('ab'))

ell
odin

Given 2 strings, a and b, return a string of the form short+long+short, with the shorter string on the outside and the longer string on the inside. The strings will not be the same length, but they may be empty (length 0).

In [9]:
def combo_string(a, b):
  a_len = len(a)
  b_len = len(b)
  if a_len < b_len:
    return a + b + a
  else:
    return b + a + b

In [10]:
print(combo_string('Hello', 'hi'))
print(combo_string('b', 'aaa'))
print(combo_string('xyz', 'ab'))

hiHellohi
baaab
abxyzab

Given 3 int values, a b c, return their sum. However, if one of the values is 13 then it does not count towards the sum and values to its right do not count. So for example, if b is 13, then both b and c do not count.

In [11]:
def lucky_sum(a, b, c):
  if a == 13:
    return 0
  elif b == 13:
    return a
  elif c == 13:
    return a + b
  else:
    return a + b + c

In [12]:
print(lucky_sum(1, 2, 13))
print(lucky_sum(1, 13, 3))
print(lucky_sum(13, 2, 13))

3
1
0

For this problem, we'll round an int value up to the next multiple of 10 if its rightmost digit is 5 or more, so 15 rounds up to 20. Alternately, round down to the previous multiple of 10 if its rightmost digit is less than 5, so 12 rounds down to 10. Given 3 ints, a b c, return the sum of their rounded values. To avoid code repetition, write a separate helper "def round10(num):" and call it 3 times. Write the helper entirely below and at the same indent level as round_sum().

In [13]:
def round10(num):
  return round(float(num) / 10) * 10

def round_sum(a, b, c):
  return int(round10(a) + round10(b) + round10(c))

In [14]:
print(round_sum(10, 10, 19))
print(round_sum(9, 4, 4))
print(round_sum(0, 0, 1))

40
10
0

Write a function named capital_indexes. The function takes a single parameter, which is a string. Your function should return a list of all the indexes in the string that have capital letters.

For example, calling capital_indexes("HeLlO") should return the list [0, 2, 4].

In [15]:
def capital_indexes(word):
    letters = []
    count = 0
    for letter in word:
        if letter.isupper():
            letters.append(count)
            count += 1
        else:
            count += 1
    return letters
        
capital_indexes('HeLlO')

[0, 2, 4]

Write a function named mid that takes a string as its parameter. Your function should extract and return the middle letter. If there is no middle letter, your function should return the empty string.

For example, mid("abc") should return "b" and mid("aaaa") should return "".

In [16]:
def mid(word):
    if len(word) % 2 == 0:
        return ""
    else:
        return word[(len(word) // 2)]
    
print(mid('abc'))
print(mid('aaaa'))

b

In [17]:
def double_letters(word):
    letters = []
    count = 0
    for i, letter in enumerate(word):
        if i == 0:
            letters.append(letter)
        elif i > 0:
            if letter == letters[-1]:
                count += 1
                letters.append(letter)
            else:
                letters.append(letter)
    if count > 0:
        return True
    else:
        return False
    
print(double_letters('hello'))
print(double_letters('nono'))

True
False

Write a function named add_dots that takes a string and adds "." in between each letter. For example, calling add_dots("test") should return the string "t.e.s.t".

Then, below the add_dots function, write another function named remove_dots that removes all dots from a string. For example, calling remove_dots("t.e.s.t") should return "test".

If both functions are correct, calling remove_dots(add_dots(string)) should return back the original string for any string.

(You may assume that the input to add_dots does not itself contain any dots.)

In [18]:
def add_dots(word):
    #Create an empty string
    letters = ''
    #Iterate through each element/letter of the string 
    #and concatenate to the variable letters with a '.'
    for letter in word:
        letters += (letter + '.')
    #Since the last character will include a '.' at the end,
    #return all but the final character in the string.
    return letters[:-1]

add_dots('taco')

't.a.c.o'

In [19]:
def remove_dots(word):
    letters = ''
    for letter in word:
        if letter != '.':
            letters += letter
    return letters

remove_dots('t.a.c.o')

'taco'

In [20]:
remove_dots(add_dots('taco'))

'taco'

In [21]:
def add_dots(word):
    return '.'.join(word)

add_dots('taco')

't.a.c.o'

In [22]:
def remove_dots(word):
    return word.replace('.', '')

remove_dots('t.a.c.o')

'taco'

In [23]:
remove_dots(add_dots('taco'))

'taco'

Define a function named count that takes a single parameter. The parameter is a string. The string will contain a single word divided into syllables by hyphens, such as these:

"ho-tel"
"cat"
"met-a-phor"
"ter-min-a-tor" <br>
Your function should count the number of syllables and return it.

For example, the call count("ho-tel") should return 2.

In [24]:
def count(word):
    return len(word.split('-'))

print(count('ho-tel'))
print(count('cat'))
print(count('met-a-phor'))
print(count('ter-min-a-tor'))

2
1
3
4

Two strings are anagrams if you can make one from the other by rearranging the letters.

Write a function named is_anagram that takes two strings as its parameters. Your function should return True if the strings are anagrams, and False otherwise.

For example, the call is_anagram("typhoon", "opython") should return True while the call is_anagram("Alice", "Bob") should return False.

In [25]:
def is_anagram(word1, word2):
    word1_list = sorted(list(word1))
    word2_list = sorted(list(word2))
   
    if word1_list == word2_list:
        return True
    else:
        return False
        
print(is_anagram('typhoon', 'opython'))
print(is_anagram('Alice', 'Bob'))

True
False

Write a function named format_number that takes a non-negative number as its only parameter.

Your function should convert the number to a string and add commas as a thousands separator.

For example, calling format_number(1000000) should return "1,000,000".

In [26]:
def format_number(number):
    num_string1 = str(number)
    num_string2 = num_string1[::-1]
    
    counter = 1
    rev_num = ''
    for num in num_string2:
        if counter % 3 == 0:
            rev_num += num + ','
            counter += 1
        else:
            rev_num += num
            counter += 1
    if rev_num[-1] == ',':
        rev_num = rev_num[:-1]
    
    norm_num = rev_num[::-1]
    return norm_num

print(format_number(1000000))
print(format_number(123456))

1,000,000
123,456

The goal of this challenge is to analyze a binary string consisting of only zeros and ones. Your code should find the biggest number of consecutive zeros in the string. For example, given the string:

"1001101000110"
The biggest number of consecutive zeros is 3.

Define a function named consecutive_zeros that takes a single parameter, which is the string of zeros and ones. Your function should return the number described above.

In [27]:
def consecutive_zeros(str_num):
    zero_list = str_num.split('1')
    zero_count = []
    for num in zero_list:
        zero_count.append(len(num))
    return max(zero_count)

consecutive_zeros('1001101000110')

3

Define a function named up_down that takes a single number as its parameter. Your function return a tuple containing two numbers; the first should be one lower than the parameter, and the second should be one higher.

For example, calling up_down(5) should return (4, 6).

In [28]:
def up_down(num):
    return (num-1, num+1)

print(up_down(5))
print(type(up_down(5)))

(4, 6)
<class 'tuple'>

Define a function named all_equal that takes a list and checks whether all elements in the list are the same.

For example, calling all_equal([1, 1, 1]) should return True.

# !!!!!!!!

In [29]:
def all_equal(num_list):
    if len(set(num_list)) == 1:
        return True
    else:
        return False

In [30]:
all_equal([3,2,1])

False

In [31]:
all_equal([2,2,2])

True

In [32]:
all_equal([1,1,1])

True

In [33]:
def all_equal(num_list):
    num_list_2 = []
    for num in num_list:
        if num in num_list_2:
            pass
        else:
            num_list_2.append(num)
    if len(num_list_2) == 1:
        return True

In [34]:
all_equal([2,2,3])

# !!!!!!!

Define a function named triple_and that takes three parameters and returns True only if they are all True and False otherwise.

In [35]:
def triple_and(a,b,c):
    if (a == b == c) & (a == True):
        return True
    else:
        return False

In [36]:
triple_and(False, False, False)

False

In [37]:
triple_and(True, True, True)

True

Define a function named convert that takes a list of numbers as its only parameter and returns a list of each number converted to a string.

For example, the call convert([1, 2, 3]) should return ["1", "2", "3"].

What makes this tricky is that your function body must only contain a single line of code.

In [38]:
def convert(num_list):
    return [str(x) for x in num_list]

In [39]:
convert([1,2,3])

['1', '2', '3']

Define a function param_count that takes a variable number of parameters. The function should return the number of arguments it was called with.

For example, param_count() should return 0, while param_count(2, 3, 4) should return 3.

In [40]:
def param_count(*args):
    return len(args)

In [41]:
print(param_count())
print(param_count(2,3,4))

0
3

Write a function that takes a list of lists and flattens it into a one-dimensional list.

Name your function flatten. It should take a single parameter and return a list.

For example, calling:

flatten([[1, 2], [3, 4]])
Should return the list:

[1, 2, 3, 4]

In [42]:
def flatten(multi_lists):
    list_len = len(multi_lists)
    print_list = []
    for num in range(list_len):
        print_list += multi_lists[num]
    return print_list

In [43]:
flatten([[1,2], [3,4]])

[1, 2, 3, 4]

A string is a palindrome when it is the same when read backwards.

For example, the string "bob" is a palindrome. So is "abba". But the string "abcd" is not a palindrome, because "abcd" != "dcba".

Write a function named palindrome that takes a single string as its parameter. Your function should return True if the string is a palindrome, and False otherwise.

In [44]:
def palindrome(a):
    return a == a[::-1]

In [45]:
print(palindrome('bob'))
print(palindrome('abba'))
print(palindrome('abcd'))

True
True
False

In [46]:
def under_5(num_list):
    return [x for x in num_list if x < 5]

In [47]:
under_5([3,4,5,6])

[3, 4]

The built-in zip function "zips" two lists. Write your own implementation of this function.

Define a function named zap. The function takes two parameters, a and b. These are lists.

Your function should return a list of tuples. Each tuple should contain one item from the a list and one from b.

You may assume a and b have equal lengths.

If you don't get it, think of a zipper.

For example:

zap(
    [0, 1, 2, 3],
    [5, 6, 7, 8]
)
Should return:

[(0, 5),
 (1, 6),
 (2, 7),
 (3, 8)]

In [48]:
def zap(a,b):
    print_list = []
    for count, value in enumerate(a):
        print_list.append((value, b[count]))
    return print_list

In [49]:
zap([0, 1, 2, 3],
    [5, 6, 7, 8])

[(0, 5), (1, 6), (2, 7), (3, 8)]

The aim of this challenge is, given a dictionary of people's online status, to count the number of people who are online.

For example, consider the following dictionary:<br>

statuses = {<br>
    "Alice": "online",<br>
    "Bob": "offline",<br>
    "Eve": "online",<br>
}<br>
In this case, the number of people online is 2.<br>

Write a function named online_count that takes one parameter. The parameter is a dictionary that maps from strings of names to the string "online" or "offline", as seen above.

Your function should return the number of people who are online.

In [50]:
def online_count(name_dict):
    count = 0
    for item in name_dict.items():
        if item[1] == 'online':
            count += 1
    return count

In [51]:
online_count({ "Alice": "online", "Bob": "offline", "Eve": "online", } )

2

Write a function named only_ints that takes two parameters. Your function should return True if both parameters are integers, and False otherwise.

For example, calling only_ints(1, 2) should return True, while calling only_ints("a", 1) should return False.

In [52]:
def only_ints(a,b):
    return (type(a) == int) & (type(b) == int)

In [53]:
print(only_ints(1, 2))
print(only_ints('a',1))

True
False

In [54]:
def format_number(n):
    return "{:,}".format(n)

format_number(1000000)

'1,000,000'

In [55]:
def format_number(number):
    #Convert the argument to a string and reverse it
    num_string_rev = str(number)[::-1]
    
    counter = 1
    
    #Used to house the new string
    rev_num = ''
    
    #Iterate through each character
    for num in num_string_rev:
        
        #Since we are moving backwards, we know that ever third character will require a comma. A counter is being 
        #used to track each third character. For each third character, a comma will be included with the character 
        #concatenated to the empty string variable rev_num.
        if counter % 3 == 0:
            rev_num += num + ','
            counter += 1
        else:
            rev_num += num
            counter += 1
            
    #The output that is completed above will have a comma at the end of the string if the number of digits
    #is a multiple of 3. Ex: 123456 will come out as '654,321,' because working backwards, the 1 is the 6th character,
    #which will include a comma with it. While still reversed, if the final character is a comma, take all but
    #but the final character and then reverse it.  Else: return the reversed number.
    if rev_num[-1] == ',':
        return rev_num[:-1][::-1]
    else:
        return rev_num[::-1]

print(format_number(1000000))
print(format_number(123456))

1,000,000
123,456

In [56]:
-6 % 4

2

In [57]:
def format_number(number):
    str_num = str(number)
    neg_counter = len(str_num) * -1
    max_char = len(str_num) * -1
    num_print = ''
    
    #Focusing on the 123456 example: This code will start neg_counter at -6. -6 % 3 == 0.  I don't want to insert
    #a comma for this since it's the first character.  So, I can add an if statement that says if neg_counter ==
    #the length of the string * -1, which would be -6 in this example, just concatenate the character by itself.
    for char in str_num:
        if neg_counter == max_char:
            num_print += char
            neg_counter += 1
            
        #After the first character, if the neg_counter % 3 == 0, then concatenate a comma BEFORE the character.
        #In the first example, since things were moving in a backwards motion, the comma came after the character.
        elif neg_counter % 3 == 0:
            num_print += ',' + char
            neg_counter += 1
        else:
            num_print += char
            neg_counter += 1
    return num_print

print(format_number(1000000))
print(format_number(123456))

1,000,000
123,456

In [58]:
d =\
{'nums': [2,2,2,2,np.nan,2,3,np.nan,3,3],\
'larger_vals': [2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 3.1, 3.2, 3.3, 3.4]\
}

df = pd.DataFrame(d)

df

   nums  larger_vals
0   2.0          2.1
1   2.0          2.2
2   2.0          2.3
3   2.0          2.4
4   NaN          2.5
5   2.0          2.6
6   3.0          3.1
7   NaN          3.2
8   3.0          3.3
9   3.0          3.4

In [59]:
import math
df['nums'] = df[['nums', 'larger_vals']].apply(lambda x: str(x['larger_vals']).split('.')[0] \
                                               if math.isnan(x['nums']) else x['nums'], axis=1)

In [60]:
df

  nums  larger_vals
0    2          2.1
1    2          2.2
2    2          2.3
3    2          2.4
4    2          2.5
5    2          2.6
6    3          3.1
7    3          3.2
8    3          3.3
9    3          3.4

A function to take in a list of numbers and add 1 to each element.

In [61]:
num_list = [1,2,3]
def add_1(list_of_nums):
    new_list = []
    for num in list_of_nums:
        num += 1
        new_list.append(num)
    return new_list
new_nums = add_1(num_list)

In [62]:
new_nums

[2, 3, 4]

In [63]:
num_list

[1, 2, 3]

Functions used to find the first n prime numbers.

In [64]:
def is_prime(n):
    divs = []
    for num in range(1, n+1):
        if n % num == 0:
            divs.append(num)
    if len(divs) <= 2:
        prime_nums.append(n)

In [65]:
prime_nums = []
def prime_list(count_of_primes):
    n = 1
    while len(prime_nums) < count_of_primes:
        is_prime(n)
        n += 1
    return prime_nums

In [66]:
prime_list(10)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23]

In [67]:
def is_prime(n):
    divs = []
    for num in range(1, n+1):
        if n % num == 0:
            divs.append(num)
    if len(divs) <= 2:
        return n

In [68]:
def prime_list(count_of_primes):
    prime_nums = []
    n = 1
    while len(prime_nums) < count_of_primes:
        if is_prime(n):
            prime_nums.append(n)
        n += 1
    return prime_nums

In [69]:
prime_list(15)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43]

In [70]:
def prime_list(count_of_primes):
    prime_nums2 = []
    n = 1
    while len(prime_nums2) < count_of_primes:
        divs = []
        for num in range(1, n+1):
            if n % num == 0:
                divs.append(num)
        if len(divs) <= 2:
            prime_nums2.append(n)
        n += 1
    return prime_nums2

In [71]:
prime_list(5)

[1, 2, 3, 5, 7]

In [72]:
prime_list(15)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43]

Square root:

In [73]:
def sq_rt(n):
    return n ** 0.5

In [74]:
sq_rt(9)

3.0

In [75]:
def sq_rt(n):
    for num in range(n):
        if num * num == n:
            return num

In [76]:
sq_rt(9)

3

Given two integer numbers return their product. If the product is greater than 1000, then return their sum

In [77]:
def less_than_1k(a,b):
    if a * b > 1000:
        return a + b
    else:
        return a * b
    
print(less_than_1k(10,60))
print(less_than_1k(30,40))

600
70

Write a function that will take a list of numbers.  If the first and last element are the same, return True.

In [78]:
def f_and_l(nums):
    return nums[0] == nums[-1]

In [79]:
f_and_l([10, 20, 30, 40, 10])

True

In [80]:
f_and_l([10, 20, 30, 40, 50])

False

Given a list of numbers, Iterate it and print only those numbers which are divisible of 5

In [81]:
def div_5(nums):
    list_5 = []
    for num in nums:
        if num % 5 == 0:
            list_5.append(num)
    return list_5

In [82]:
div_5([10, 20, 33, 46, 55])

[10, 20, 55]

In [83]:
nums = [10, 20, 33, 46, 55]

[x for x in nums if x % 5 == 0]

[10, 20, 55]

Create a function named twelveto24. It should accept a string in the format 10:45am or 4:30pm and return a string that is the representation of the time in a 24-hour format. Bonus write a function that does the opposite.

In [84]:
def twelveto24(time):
    am_pm = time[-2:]
    time_2 = time[:-2]
    hour = time_2.split(':')[0]
    minute = time_2.split(':')[1]
    if am_pm == 'am':
        return time_2
    else:
        return str(int(hour) + 12) + ':' + minute

In [85]:
twelveto24('12:45am')

'12:45'

In [86]:
twelveto24('1:45pm')

'13:45'

In [87]:
today = date.today().strftime("%B %d, %Y")

In [88]:
print('Today\'s date is {}.'.format(today))

Today's date is October 08, 2021.

In [89]:
from functools import reduce
import math

In [90]:
def is_perfect(n):
    divs = []
    for num in range(1,n+1):
        if n % num == 0:
            divs.append(num)

    if (n == sum(divs[:-1])) & (sum(divs) == n * 2):
        return n

In [91]:
is_perfect(8128)

8128

In [92]:
is_perfect(245)

In [93]:
import statistics as std

In [94]:
num_list = [3,3,4,6,6,7,7,7,8,9]

df_num_list = pd.DataFrame(num_list)

print('Standard deviation using numpy.std() with default ddof=0 = {}'.format(np.std(num_list)))

print('Standard deviation using numpy.std(dd0f=1) = {}'.format(np.std(num_list, ddof=1)))

print('Standard deviation using pandas.std() = {}'.format(df_num_list[0].std()))

Standard deviation using numpy.std() with default ddof=0 = 1.9493588689617927
Standard deviation using numpy.std(dd0f=1) = 2.0548046676563256
Standard deviation using pandas.std() = 2.0548046676563256

Recreate pandas .std() function

In [95]:
# Used as a variable in the for loop
overall_mean = np.mean(num_list)

# Used as a variable in the for loop
list_count = len(num_list)

# Running total of the values summed in the for loop
sum_of_nums = 0

for num in num_list:
    sum_of_nums += (num - overall_mean) ** 2
    
print((sum_of_nums / (list_count - 1)) ** 0.5)

2.0548046676563256