In [1]:
import pandas as pd
import numpy as np

### Identify first 25 prime numbers

In [59]:
count = 1
prime_nums = []
while len(prime_nums) < 25:
    divisors = list(range(count))
    divisors = [divisor+1 for divisor in divisors]
    num_divisors = len([num for num in divisors if count % num == 0])
    if num_divisors < 3:
        prime_nums.append(count)
    count +=1
prime_nums

[1,
 2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89]

In [58]:
len(prime_nums)

25

### First 10 numbers of Fibonacci sequence

In [101]:
fibb = []
while len(fibb) < 10:
    if len(fibb) < 2:
        fibb.append(1)
    elif len(fibb) == 2:
        second_fibb = fibb[-1] + fibb[-1]
        fibb.append(second_fibb)
    elif len(fibb) > 2:
        next_num = fibb[-1] + fibb[-2]
        fibb.append(next_num)
fibb

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

### Extract duplicates from list of numbers

In [135]:
#List 1 will be a list of numbers that are multiples of 3, List 2 will be multiples of 7.  
#The final list will be numbers that divisible by both 3 and 7
list_1 = list(range(250))
multiple_3 = [num for num in list_1 if num % 3 == 0]
list_2 = list(range(250))
multiple_7 = [num for num in list_2 if num % 7 == 0]
full_list = multiple_3 + multiple_7
in_both = [num for num in full_list if num in multiple_3 and num in multiple_7]
sorted(list(set(in_both)))

[0, 21, 42, 63, 84, 105, 126, 147, 168, 189, 210, 231]

### Reverse the words in a sentence

In [142]:
sentence = 'The brown cow jumped for joy'
reverse_sentence = ' '.join(reversed(sentence.split(' ')))
reverse_sentence

'joy for jumped cow brown The'

## List Comprehension

### Square every number in a list

In [77]:
numbers = list(range(10))
[num**2 for num in numbers]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Square a number in a list, but only if it's even.  Keep the odd numbers in the list.

In [84]:
[num**2 if num % 2 == 0 else num for num in numbers]

[0, 1, 4, 3, 16, 5, 36, 7, 64, 9]

### Print vowels from a word

In [91]:
word = 'BaNanA'
letters = list(word.lower())
vowels = list('aeiou')
[letter for letter in letters if letter in vowels]

['a', 'a', 'a']

### Print consonants from a word

In [92]:
word = 'BaNanA'
letters = list(word.lower())
vowels = list('aeiou')
[letter for letter in letters if letter not in vowels]

['b', 'n', 'n']

### Square even numbers and turn odd numbers negative

In [93]:
[num**2 if num % 2 == 0 else num*-1 for num in numbers]

[0, -1, 4, -3, 16, -5, 36, -7, 64, -9]