In [1]:
import pandas as pd
import numpy as np
import string

In [2]:
# Create a function named twelveto24. It should accept a string in the 
# format 10:45am or 4:30pm and return a string that is the representation 
# of the time in a 24-hour format.

In [3]:
def twelveto24(time):
    if time[-2].lower() == 'a':
        time = str(int(time.split(':')[0])) + time.split(':')[1]
        time = ''.join([char for char in time if char.isdigit()])
        return time
    elif time[-2].lower() == 'p':
        time = str((int(time.split(':')[0]) + 12)) + time.split(':')[1]
        time = ''.join([char for char in time if char.isdigit()])
        return time

In [4]:
twelveto24('3:30pm')

'1530'

In [5]:
twelveto24('4:54am')

'454'

In [6]:
# Define a function named calculate_tip. It should accept a tip percentage 
# (a number between 0 and 1) and the bill total, and return the amount to tip.

In [7]:
def calculate_tip(total_bill, tip_perc_as_int=15):
    return 'A ' + str(tip_perc_as_int) +'% tip is $' + str(round(total_bill * (tip_perc_as_int/100),2)) +'.'

In [8]:
calculate_tip(20.15, 15)

'A 15% tip is $3.02.'

In [9]:
calculate_tip(40.32,20)

'A 20% tip is $8.06.'

In [10]:
# We set the default tip percentage to 15%, so if nothing is passed as a
# second argument, the tip will be calculated at 15%.
calculate_tip(10)

'A 15% tip is $1.5.'

In [11]:
# Define a function named handle_commas. It should accept a string that is a number that contains commas 
# in it as input, and return a number as output.

In [12]:
def handle_commas(number):
    number = ''.join([char for char in number if char.isdigit()])
    return number

In [13]:
handle_commas('1,234,567')

'1234567'

In [14]:
# Define a function named apply_discount. It should accept a original price, 
# and a discount percentage, and return the price after the discount is applied.

In [40]:
def apply_discount(orig_price, disc_perc_as_int):
    return 'A ' + str(disc_perc_as_int) + '% discount off of the original amount of $' + str(orig_price) + ' brings your total to $' + str(round(orig_price * (1-(disc_perc_as_int / 100)),2)) + '.'

In [41]:
apply_discount(15, 20)

'A 20% discount off of the original amount of $15 brings your total to $12.0.'

In [42]:
apply_discount(30.22, 17)

'A 17% discount off of the original amount of $30.22 brings your total to $25.08.'

In [43]:
# Write a Python function that checks whether a passed string is palindrome or not.

In [49]:
def palindrome_check(phrase):
    if phrase.lower() == phrase[::-1].lower():
        return True
    else:
        return False

In [50]:
palindrome_check('dog')

False

In [52]:
palindrome_check('Madam')

True

In [53]:
# Create a function that takes a number as an argument and returns "Fizz", "Buzz" or "FizzBuzz".

# If the number is a multiple of 3 the output should be "Fizz".
# If the number given is a multiple of 5, the output should be "Buzz".
# If the number given is a multiple of both 3 and 5, the output should be "FizzBuzz".
# If the number is not a multiple of either 3 or 5, the number should be output on its 
# own as shown in the examples below.

In [57]:
def fizz_buzz(number):
    if number % 3 == 0 and number % 5 == 0:
        return 'FizzBuzz'
    elif number % 5 == 0:
        return 'Buzz'
    elif number % 3 == 0:
        return 'Fizz'
    else:
        return number

In [58]:
fizz_buzz(3)

'Fizz'

In [59]:
fizz_buzz(10)

'Buzz'

In [60]:
fizz_buzz(15)

'FizzBuzz'

In [61]:
fizz_buzz(4)

4

In [62]:
# Create a function that takes two numbers as arguments (num, length) 
# and returns a list of multiples of num up to length.
# Ex: list_of_multiples(7, 5) ➞ [7, 14, 21, 28, 35]

In [67]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [70]:
def list_of_multiples(num, length):
    range_of_len = list(range(1, length+1))
    multiples = [num * rol for rol in range_of_len]
    return multiples

In [71]:
list_of_multiples(7,5)

[7, 14, 21, 28, 35]

In [72]:
list_of_multiples(6,8)

[6, 12, 18, 24, 30, 36, 42, 48]

In [73]:
# Create a function that converts a date formatted as MM/DD/YYYY to YYYYDDMM.
# Ex: format_date("11/12/2019") ➞ "20191211"

In [77]:
def format_date(date):
    date_parts = list(date.split('/'))
    return date_parts[2] + date_parts[1] + date_parts[0]

In [78]:
format_date('11/12/2019')

'20191211'